{% extends 'base.html.twig' %}

{% block body %}
    <h1>Voiture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.matricule }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ voiture.photo }}</td>
            </tr>
            <tr>
                <th>Nombreplaces</th>
                <td>{{ voiture.nombreplaces }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ voiture.puissance }}</td>
            </tr>
            <tr>
                <th>Imagepath</th>
                <td>{% if voiture.imagePath %}{{ voiture.imagePath|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('voiture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('voiture_edit', { 'id': voiture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
